@use "../../assets/sass/variables" as *;
.counter-wrapper {
  border: 5px solid $color-primary;
}
.counter {
  margin: 2rem;
  display: flex;
  justify-content: space-around;
}

.button {
  background-color: $color-primary;
  border-radius: 50px;
  padding: 1rem;
  margin: auto;
}
