@use "./assets/sass/_variables.scss" as *;
.employee-tickets {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: $color-secondary;
  min-height: 80vh;
}
